<form method="get" action="/search" style="position: relative; padding: 50px 0px;">
    <div class="row">
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1">Country</label>
            <select class="form-control" id="exampleInputEmail1">
                <option selected disabled="disabled">Choose Country</option>
                <option value="volvo">Hungary</option>
                <option value="saab">Romania</option>
                <option value="mercedes">Albania</option>
                <option value="audi">Spain</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1">City</label>
            <select class="form-control" id="exampleInputEmail1">
                <option selected disabled="disabled">Choose City</option>
                <option value="volvo">Hungary</option>
                <option value="saab">Romania</option>
                <option value="mercedes">Albania</option>
                <option value="audi">Spain</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1">Location</label>
            <select class="form-control" id="exampleInputEmail1">
                <option selected disabled="disabled">Choose Location</option>
                <option value="volvo">Hungary</option>
                <option value="saab">Romania</option>
                <option value="mercedes">Albania</option>
                <option value="audi">Spain</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1">Pick Up</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date">
        </div>
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1">Drop Down</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date">
        </div>
        <div class="col-md-2 form-group">
            <label for="exampleInputEmail1"></label>
            <input type="submit" value="Submit" class="form-control btn btn-success" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    </div>

    <div style="position: relative;">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Drop off at different location
        </a>
        <a style="position: absolute; right: 0;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
            Detailed Search
        </a>
    </div>



    <div class="collapse" id="collapseExample">
        <h4 style="padding-top: 20px;">Drop off at different location</h4>
        <div class="row">
            <div class="col-sm-4 col-md-2 form-group">
                <label for="exampleInputEmail1">Country</label>
                <select class="form-control" id="exampleInputEmail1">
                    <option selected disabled="disabled">Choose Country</option>
                    <option value="volvo">Hungary</option>
                    <option value="saab">Romania</option>
                    <option value="mercedes">Albania</option>
                    <option value="audi">Spain</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-2 form-group">
                <label for="exampleInputEmail1">City</label>
                <select class="form-control" id="exampleInputEmail1">
                    <option selected disabled="disabled">Choose City</option>
                    <option value="volvo">Hungary</option>
                    <option value="saab">Romania</option>
                    <option value="mercedes">Albania</option>
                    <option value="audi">Spain</option>
                </select>
            </div>
            <div class="col-sm-4 col-md-2 form-group">
                <label for="exampleInputEmail1">Location</label>
                <select class="form-control" id="exampleInputEmail1">
                    <option selected disabled="disabled">Choose Location</option>
                    <option value="volvo">Hungary</option>
                    <option value="saab">Romania</option>
                    <option value="mercedes">Albania</option>
                    <option value="audi">Spain</option>
                </select>
            </div>
        </div>
    </div>


    <div class="collapse" id="collapseExample2">
        <h4 style="padding-top: 20px;">Detailed Search</h4>
        <div class="row">
            <div class="col form-group">
                <label for="exampleInputEmail1">Brand</label>
                <select name="brand" class="form-control" id="exampleInputEmail1">
                    <option value="" selected>Choose Brand</option>
                    <option value="BMW">BMW</option>
                    <option value="toyota">Toyota</option>
                    <option value="tesla">Tesla</option>
                    <option value="audi">Audi</option>
                </select>
            </div>

            <div class="col form-group">
                <label for="exampleInputEmail1">Year</label>
                <input name="year" type="number" min="1990" max="2019" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter year">
            </div>

            <div class="col form-group">
                <label for="exampleInputEmail1">Seat</label>
                <input name="seat" type="number" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter seats">
            </div>

            <div class="col form-group">
                <label for="exampleInputEmail1">Bags</label>
                <input name="bag" type="number" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter bags">
            </div>

            <div class="col form-group">
                <label for="exampleInputEmail1">Gas</label>
                <input name="isFuelFull" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="w-100"></div>

            <div class="col form-group">
                <label for="exampleInputEmail1">Dealer</label>
                <input name="dealershipname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="col form-group">
                <label for="exampleInputEmail1">Category</label>
                <select name="category" class="form-control" id="exampleInputEmail1">
                    <option value="">All</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="MPV">MPV</option>
                    <option value="SUV">SUV</option>
                    <option value="Crossover">Crossover</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Convertible">Convertible</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="exampleInputEmail1">Transmission</label>
                <select name="transmission" class="form-control" id="exampleInputEmail1">
                    <option value="">All</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="exampleInputEmail1">Climate</label>
                <select name="climate" class="form-control" id="exampleInputEmail1">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div name="door" class="col form-group">
                <label for="exampleInputEmail1">Door</label>
                <input name="door" type="number" min="2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doors">
            </div>
        </div>
    </div>
</form>