@page
@model IndexModel




<div style="margin-top: 30px;">

    <h3>Personal Data</h3>
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-6 form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-success float-right" style="">Save</button>
        <div class="clearfix"></div>
    </form>
</div>
<div style="">
    <h3>Companies</h3>
    <div>
        @foreach (var company in Model.UserCompanies)
        {
            <div class="row" style="margin-top: 20px;">
                <div class="col-3">
                    @company.Name
                </div>
                <div class="col-9">
                    <a href="/cars/?companyId=@(company.Id)" class="btn btn-success">Cars</a>
                    <button class="btn btn-success">Admins</button>
                    <button class="btn btn-danger">Remove</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
